.newdiv {
	height: 150px;
	width: 200px;
	text-align: center;
	line-height: 250px;
	color: white;
	font-size: 18px;
	font-weight: 600;
	background-image: url(./resources/Elektryczni.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	left: 15%;
	top: 0;
	border-radius: 10px;
	cursor: pointer;
}
.newdiv1 {
	height: 150px;
	width: 200px;
	text-align: center;
	line-height: 250px;
	color: white;
	font-size: 18px;
	font-weight: 600;
	background-image: url(./resources/Teatr.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	left: 35%;
	top: 0;
	border-radius: 10px;
	cursor: pointer;
}
